<!DOCTYPE html>
<html>
  <head>
    <title >Secondgram</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrap">
      <header class="header_area">
          <img src="/images/camera.jpeg">
          <i>Secondgram</i>
          <div class="header_info">
            <% if logged_in? %>
              <%= link_to "MyPage", user_path(current_user.id) %>
              <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
            <% else %>
              <%= link_to "ユーザー新規登録", new_user_path %>
              <%= link_to "ログイン", new_session_path %>
            <% end %>
          </div>
      </header>
      <div class="header_menu">
        <%= link_to "投稿一覧" ,blogs_path ,class:"btn btn-info" %>
          <% if logged_in? %>
            <%= link_to "お気に入り" ,favorite_path(current_user.id) ,class:"btn btn-info" %>
          <% end %>
          <%= link_to "新規投稿" ,new_blog_path ,class:"btn btn-info" %>
      </div>
      <div>
        <%= yield %>
      </div>
    </div>


    <fotter class="fotter_area">
      <p>tbt's exercises application</p>
    </fotter>
  </body>
</html>
